[data-mantine-color-scheme="light"] .root {
  background: var(--mantine-color-body);
  border: calc(0.0625rem * var(--mantine-scale)) solid
    var(--mantine-color-gray-3);
}

[data-mantine-color-scheme="dark"] .root {
  background: var(--mantine-color-dark-6);
  border: calc(0.0625rem * var(--mantine-scale)) solid
    var(--mantine-color-dark-4);
}

.label {
  font-weight: 400 !important;
  font-size: var(--mantine-font-size-sm) !important;

  [data-mantine-color-scheme="light"] &[data-active="true"] {
    color: var(--mantine-color-white) !important;
  }
}
