[data-mantine-color-scheme="light"] .root {
  background: var(--mantine-color-body);
  border: calc(0.0625rem * var(--mantine-scale)) solid
    var(--mantine-color-gray-3);
}

[data-mantine-color-scheme="dark"] .root {
  background: var(--mantine-color-dark-6);
  border: calc(0.0625rem * var(--mantine-scale)) solid
    var(--mantine-color-dark-4);
}

.control {
  padding: calc(0.12rem * var(--mantine-scale))
    calc(0.275rem * var(--mantine-scale)) !important;

  &[data-active] {
    background-color: var(--mantine-primary-color-filled) !important;
    color: var(--mantine-color-body) !important;
    border-radius: var(--mantine-radius-default);
  }
}

.label {
  color: var(--mantine-color-text) !important;
  font-weight: 400 !important;

  &[data-active] {
    color: var(--mantine-color-body) !important;
  }
}
