.storyTitle {
  color: var(--mantine-primary-color-filled) !important;
}

.storyUrl {
  width: fit-content;
}

[data-mantine-color-scheme="light"] .storyUrl {
  color: var(--mantine-color-gray-7) !important;
}

[data-mantine-color-scheme="dark"] .storyUrl {
  color: var(--mantine-color-gray-4) !important;
}

.storyHide {
  color: var(--mantine-primary-color-filled) !important;
}

.storyContent em {
  color: black;
  font-style: normal;
}

[data-mantine-color-scheme="light"] .storyContent em {
  background-color: var(--mantine-color-yellow-2);
}

[data-mantine-color-scheme="dark"] .storyContent em {
  background-color: var(--mantine-color-yellow-5);
}

.storyText p:first-child::before {
  content: " \A\A";
  white-space: pre;
}

.storyText * {
  display: inline;
}

.storyText ** {
  display: inline;
}

[data-mantine-color-scheme="dark"] .storyText a {
  color: var(--mantine-color-dark-0) !important;
}

[data-mantine-color-scheme="light"] .storyText a {
  color: var(--mantine-color-gray-7) !important;
}

.storyDetail p {
  margin-top: calc(0.525rem * var(--mantine-scale)) !important;
  margin-bottom: 0 !important;
}

.storyDetail code {
  white-space: normal;
}

[data-mantine-color-scheme="dark"] .storyDetail a {
  color: var(--mantine-primary-color-filled) !important;
}
