.wrapper {
  margin-bottom: 0;
}

p {
  margin-bottom: 0 !important;
}

em {
  color: black;
  font-style: normal;
}

[data-mantine-color-scheme="light"] em {
  background-color: var(--mantine-color-yellow-2);
}

[data-mantine-color-scheme="dark"] em {
  background-color: var(--mantine-color-yellow-5);
}
