.storyTitle {
  color: var(--mantine-primary-color-filled) !important;
}

.storyUrl {
  width: fit-content;
}

[data-mantine-color-scheme="light"] .storyUrl {
  color: var(--mantine-color-gray-7);
}

[data-mantine-color-scheme="dark"] .storyUrl {
  color: var(--mantine-color-dark-1);
}

.storyHide {
  color: var(--mantine-primary-color-filled) !important;
}

.storyContent em {
  color: black;
  font-style: normal;
}

[data-mantine-color-scheme="light"] .storyContent em {
  background-color: var(--mantine-color-yellow-2);
}

[data-mantine-color-scheme="dark"] .storyContent em {
  background-color: var(--mantine-color-yellow-5);
}

[data-mantine-color-scheme="dark"] .storyText a {
  color: var(--mantine-color-dark-0) !important;
}

[data-mantine-color-scheme="light"] .storyText a {
  color: var(--mantine-color-gray-7) !important;
}
